.project-page {

    >button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        border-radius: 8px;
        background-color: rgb(32, 32, 32);
        border: 1px solid grey;
        color: whitesmoke;


        img {
            transform: rotateZ(180deg);
            padding-bottom: 1px;
        }
    }

    button:hover {
        cursor: pointer;
    }
}

@media(min-width:700px) {

    .project-page {

        >button {
            font-size: 1.2rem;
            gap: 10px;
            width: 150px;
            height: 50px;

            img {
                width: 2.5rem;
            }
        }

        >* {
            margin-block: 5rem;
        }
    }

}

@media(max-width:700px) {
    .project-page {

        >button {
            font-size: 1rem;
            width: 100px;
            height: 50px;
            gap: 5px;

            img {
                width: 2rem;
            }
        }

        >* {
            margin-block: 2rem;
        }
    }
}